body{
  font-family: Arial;
  background:#f4f6f8;
}
.container{
  max-width:900px;
  margin:auto;
  background:#fff;
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 10px #ccc;
}
input,button{
  width:100%;
  padding:12px;
  margin:8px 0;
}
button{
  background:#1e3a8a;
  color:white;
  border:none;
  border-radius:6px;
}
a{color:#1e3a8a;text-decoration:none;}
